.budgeting {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
.budgeting * {
    padding: 0;
    margin: 0;
    line-height: normal;
}
.budgeting table {
    table-layout: auto;
    border-collapse: collapse;
}
.budgeting tr, td {
    padding: 0;
    margin: 0;
    line-height: normal;
    vertical-align: top;
}

.budgeting .budgetingCategory .category.name,
.budgeting .budgetingCalendar .category.name {
    font-weight: bold;
}

/* START: Synchronize row hights of catalog and calendar tables */
.budgeting .budgetingCategory .category.name,
.budgeting .budgetingCalendar .category.name {
    width: 300px;
    overflow: hidden;
}

.budgeting .budgetingCategory .plan.description,
.budgeting .budgetingCalendar .plan.description {
    width: 300px;
    overflow: hidden;
}

.budgeting .budgetingCalendar .category.name,
.budgeting .budgetingCalendar .plan.description {
    margin-left: -300px;
}

.budgeting .budgetingCategory .money.cell,
.budgeting .budgetingCalendar .money.cell {
    height: 40px;
    border: 1px solid #ddd;
}
/* FINISH: Synchronize row hights of catalog and calendar tables */

/* START: Synchronize column width of period and calendar tables */
.budgeting .budgetingPeriod .period.title,
.budgeting .budgetingCalendar .money.cell {
    width: 200px;
}
/* FINISH: Synchronize column width of period and calendar tables */

.budgeting .money.cell {
    width: 200px;
}
.budgeting .money.cell .currency {
    text-align: right;
}
